@import "@styles/main.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.title {
  text-align: center;
}

.linkButton {
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  background: $main-gradient;
}
.sliderContainer {
  padding: 0 20px !important;
}