@import "@styles/main.scss";


.title {

}

.linkButton {
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  background: $main-gradient;
}