@import "@styles/main.scss";

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.button {
  width: 100%;
  background: $main-gradient;
  border: 1px solid $blue-light;
  font-size: 1.3rem;
  box-sizing: border-box;
  padding: .5rem;
  border-radius: .5rem;
}