@import "@styles/main.scss";

.input {
  outline: none;
  box-sizing: border-box;
  color: $blue-dark;
  border: 1px solid $blue-light;
  font-size: 1.3rem;
  padding: .5rem;
  width: 100%;
  border-radius: .5rem;
}
.input_error {
  border: 1px solid $error-red;
}
.errorMessageContainer {
  min-height: 1.2rem;
}
.errorMessage_empty {
  color: $error-red;
  font-weight: 400;
  font-size: .7rem;
  text-align: start;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.errorMessage {
  opacity: 1;
}