DATABASE_URI=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE

NEXT_PUBLIC_SERVER_URL
MINIO_STORAGE_ENABLE=false
MINIO_ENDPOINT
MINIO_USER
MINIO_SECRET
MINIO_BUCKET
MINIO_REGION=us-east-1
TELEGRAM_BOT_TOKEN