@import "@styles/main.scss";

.container {
  @include container(0, 0px);
}
.sliderWrapper {
  background-color: var(--bg-container);
  overflow: hidden;
  width: 100%;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
}