@import "@styles/main.scss";

.container {
  @include container(0, 20px);
}
.sliderWrapper {
  background-color: var(--bg-container);
  width: 100%;
  min-height: 200px;
  border-radius: $border-radius;
}