@import "@styles/main.scss";

.slider{
  max-width: 100%;
}
.slidesWrapper{
  margin: 0;
  padding: 0;
}
.item{
  border-radius: 30px 30px 0 0;
  overflow: hidden;
  & > img {
    max-width: 100%;
    height: 100%;
    max-height: 70vh;
    object-fit: contain;
    aspect-ratio: 1/1.5;
  }
}
.image{
  width: 100%;
}


.navigation{
  display: none;
  @include media(md) {
    position: absolute;
    width: min-content;
    padding: 0 20px;
    box-sizing: border-box;
    margin: auto;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 12px;}
}
.nav{
  border-radius: 50%;
  border: 2px #fff solid;
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    cursor: pointer;
  }
}
.navPrev{
  transform: rotateZ(180deg);
}
.pagination{
  margin: 0 auto 20px;
  justify-content: center;
  max-width: 400px;
  display: flex;
  align-items: center;
  gap: 24px;
  position: absolute;
  z-index: 14;
  left: 0;
  right: 0;
  @include media(sm){
    margin: 0 auto 20px;
  }
}
.bullet{
  position: relative;
  z-index: 89;
  display: block;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  transition: all .2s linear;
  &:hover{
    cursor: pointer;
  }
}
.bullet_active{
  width: 14px;
  height: 14px;
  background-color: $blue-dark;
}
.thumbnailSlider {
  width: 100%;
  max-width: 800px;
}

.thumbnailItem {
  max-height:100px;
  height: 100%;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  img{
    height: 100%;
    max-height: inherit;
    aspect-ratio: 1/1.5;
    min-width: 60px;
    max-width: 100%;
    object-fit: cover;
   }
}