@import "@styles/main.scss";

.navigation {
  box-sizing: border-box;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.backButton {
  font-size: 1rem;
  background: transparent;
  background: transparent;
  border: 1px solid var(--text-secondary);
  border-radius: 3px;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  gap: 5px;
  &::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    border-left: solid var(--text-primary) 1px;
    border-bottom: solid var(--text-primary) 1px;
  }
}
.cross{
  fill: var(--text-primary);
}