@import "@styles/main.scss";
.colorLink {
  text-align: start;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  background: $main-gradient;
  display: flex;
  color: $text-dark-color;
  justify-content: space-between;
  align-items: center;
  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 15px;
    background: url('/icons/arrowRight.svg') no-repeat;

  }
}