@font-face {
    src: url("/fonts/Montserrat-medium.woff") format('woff');
    src: url("/fonts/Montserrat-medium.woff2") format('woff2');
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}
@font-face {
    src: url("/fonts/Montserrat-SemiBold.woff") format('woff');
    src: url("/fonts/Montserrat-SemiBold.woff2") format('woff2');
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
}
@font-face {
    src: url("/fonts/Montserrat-extrabold.woff") format('woff');
    src: url("/fonts/Montserrat-extrabold.woff2") format('woff2');
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
}
@font-face {
    src: url("/fonts/Alumni_sans_semibold.woff") format('woff');
    src: url("/fonts/Alumni_sans_semibold.woff2") format('woff2');
    font-family: 'Alumni-sans';
    font-style: normal;
    font-weight: 600;
}
@font-face {
    src: url("/fonts/Creepster.woff") format('woff');
    //src: url("/fonts/Creepster.woff2") format('woff2');
    font-family: 'Creepster';
    font-style: normal;
    font-weight: 600;
}
@font-face {
    src: url("/fonts/Bubble-sans.woff") format('woff');
    //src: url("/fonts/Creepster.woff2") format('woff2');
    font-family: 'Bubble';
    font-style: normal;
    font-weight: 600;
}