@mixin media ($size) {
  @if ($size == sm) {
    @media only screen and (width >= $screen-sm) {
      @content;
    }
  }
  @if ($size == md) {
    @media only screen and (width >= $screen-md) {
      @content;
    }
  }
  @if ($size == lg) {
    @media only screen and (width >= $screen-lg) {
      @content;
    }
  }
  @if ($size == xlg) {
    @media only screen and (width >= $screen-xlg) {
      @content;
    }
  }
}

@mixin section{
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  box-sizing: border-box;
  padding: 0 20px;
}
@mixin container ($br: 0, $pad: 0) {
  margin: 0 auto;
  max-width: 768px;
  border-radius: $br;
  box-sizing: border-box;
  padding: $pad;
}