$screen-xlg: 1640px;
$screen-lg: 1360px;
$screen-md: 1024px;
$screen-sm: 768px;

$text-dark-color: #1F1F1F;
$accent-color:#54723B;
$grey-color:#C5C5C5;
$main-bg-color: #F3F3F5;
$container-bg-color: white;
$footer-text-color: #898988;


$blue-dark: #231F53;
$green-dark: #027F54;
$blue-light: #ADCDE5;
$green-light: #E6F4E3;
$salad-green: #B7E55F;
$link: #2164C8;
$orange: #F37C2F;
$banner-text: white;
$cards-text-color: white;
$footer-opacity-text-color: #B1B1B1;
$opacity-text-color: #B1B1B1;