$screen-xlg: 1640px;
$screen-lg: 1360px;
$screen-md: 1024px;
$screen-sm: 768px;

$text-dark-color: #1F1F1F;
$accent-color:#54723B;
$grey-color: #807f7f;
$main-bg-color: #ffe0ff;
$container-bg-color: white;
$footer-text-color: #898988;
$main-gradient: linear-gradient(30deg, #00ffff, #e93cee);