@import "@styles/main.scss";
.body {
  background: var(--bg-primary);
  background-repeat: no-repeat;
  margin: 0;
  min-height: 100vh;
}
.main {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}